<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <img src="../assets/music-audio-alp-201709" alt="" class="img-fluid">
  </div>  

   
  <div class="container">
        <div class="card-group">
          <div class="card">
            <img src="../assets/samsung-galaxy-s9-xxl.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p>$15.000 </p>
              <button type="button" class="btn btn-primary btn-lg">Comprar</button>


            </div>
          </div>

          <div class="card">
            <img src="../assets/l6g6.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p>$15.000 </p>
              <button type="button" class="btn btn-primary btn-lg">Comprar</button>
            </div>
          </div>

          <div class="card">
            <img src="../assets/sansun.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p>$15.000 </p>
              <button type="button" class="btn btn-primary btn-lg">Comprar</button>
            </div>
          </div>
        </div>
      </div>