

   
  <div class="container">
        <div class="card-group">
          <div class="card">
            <img src="../assets/samsung-galaxy-s9-xxl.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p>$15.000 </p>
              <button [routerLink]="['detail', 'samsung', '15000', '3']" type="button" class="btn btn-primary btn-lg">Comprar</button>


            </div>
          </div>

          <div class="card">
            <img src="../assets/l6g6.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p>$15.000 </p>
              <button [routerLink]="['detail', 'samsung', '15000', '3']" type="button" class="btn btn-primary btn-lg">Comprar</button>
            </div>
          </div>

          <div class="card">
            <img src="../assets/sansun.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p>$15.000 </p>
              <button [routerLink]="['detail', 'samsung', '15000', '3']" type="button" class="btn btn-primary btn-lg">Comprar</button>
            </div>
          </div>
        </div>
      </div>